{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row justify-content-center mr-5 mr-md-1">
    <div class="login-background">
        <div>
        <h1 style="text-align: left;">Log-in</h1>
        
        {% if form.errors %}
            <p>
                Your username and password didn't match.
                Please try again.
            </p>
        {% else %}
        {% comment %} <p>Please, use the following form to log-in. If you don't have an account <a href="{% url 'register' %}">register here</a></p> {% endcomment %}
        {% endif %}
        
        <div class="d-none d-md-block mb-5" style="margin-left: 5px;">
            <small>de session
                NOTE: Ce compte est réservé aux employés temporaires actuellement en affectation.<br/> Si vous êtes un chercheur d’emploi, veuillez vous inscrire aux alertes d’emploi ici.
            </small> 
        </div><br/>
        <div style="margin-left: 5px;">
            <div class="mb-2 login-form">
                <form action="{% url 'login' %}" method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}" />
                    <p class="mt-2"><input type="submit" value="Log-in"></p>
                </form>
            </div>
            <p class="mt-2"><a href="{% url 'password_reset' %}" style="color: white">Nom d'utilisateur et mot de passe oubliés?</a></p>
            <p class="mt-2"><a href="{% url 'register' %}" style="color: white">Inscrivez-vous comme employé en affectation.</a></p>
        </div>
        </div>
    </div>
</div>
{% endblock %}
