html{height:100%;-webkit-text-size-adjust:100%;}
body{position:relative;margin:0px;min-height:100%;font:22px/26px 'Source Sans Pro', Arial;font-weight:400;
background-color:#fff;-webkit-text-size-adjust:100%;}
	body#s0{background-color:#303030;}

form{margin:0px;}
img{border:0px;}
a img{text-decoration:none;border:0 none;}
a:hover{opacity:0.7}
a[name] {display:block;padding-top:110px;margin-top:-110px;z-index:-1;position:relative;}

p{margin:0px 0px 20px 0px;padding:0px;-webkit-text-size-adjust:100%;font-size:inherit;}
p.flush{margin:0px 0px 5px 0px;}

strong {font-weight: 600}

ul{padding:0px 0px 20px 24px;margin:0px;}
li {padding-bottom:5px;}

hr{height:0px;border:0px;border-bottom:1px solid #ccc;}


div#header{position:fixed;top: 0px;z-index:200;width:100%;height:89px;background-color:#fff;box-shadow:0px 0px 16px #313131;margin:0px 0px 0px 0px;}
div#headerg{position:fixed;top: 0px;z-index:200;width:100%;height:89px;background-color:#abca41;box-shadow:0px 0px 16px #313131;margin:0px 0px 0px 0px;}
div#mainMenu{padding:17px 40px 0px 40px;white-space: nowrap;min-width: 845px;text-align:right;}
	div#mainMenu img.right{width:620px;margin-top:4px;float:right;}
	div#mainMenu a#mm0{float:left;}
	div#mainMenu a#mm0 img{width:300px; height:58px;}
	div#mainMenu a{display:inline-block;padding:0px 20px 0px 20px;font:28px 'Source Sans Pro', Arial;font-weight:300;color:#313131;text-decoration:none;margin:5px 5px;}
	div#mainMenu a#mm1, div#mainMenu a#mm2{font:28px chalk, Arial;color:#313131;}

body.l1 div#mainMenu{padding:22px 40px 0px 40px;white-space: nowrap;min-width: 845px;text-align:right;}
body.l1	div#mainMenu a#mm1, div#mainMenu a#mm2{font:28px chalk, Arial;}
body.l1 div#mainMenu a{font:20px 'Source Sans Pro', Arial;font-weight:300;}
body.l1 div#mainMenu a#mm0 img{width:250px; height:135px;}


	div#mainMenu a#mm5{border:1px solid #313131;padding:5px 10px 2px 10px;}

div#topBannerSpace{height:89px;}
div#topBanner{background-size:cover;background-repeat:no-repeat;background-position:top center;width:100%;overflow:hidden;}
	body#s1 div#topBanner{background-image:url(images/bkg_about.jpg);height:904px;border-bottom:0px solid #90ae2c;}
		body#s1.l1 div#topBanner{background-image:url(images/bkg_about1.jpg);}
	body#s2 div#topBanner{background-image:url(images/banner_blackboard.jpg);height:1000px;}
		body#s2.l1 div#topBanner{background-image:url(images/banner_blackboard1.jpg);}
	body#s4.p1 div#topBanner{background-image:url(images/banner_blackboard2.jpg);height:900px;}
	body.l1#s4.p1 div#topBanner{background-image:url(images/banner_blackboard21.jpg);height:900px;}

	body#s9.p1 div#topBanner{background-image:url(images/bkg_career.jpg);height:900px;}


	body#s6.p1 div#topBanner{background-image:url(images/bkg_blackboard.jpg);height:300px;border-bottom:0px solid #90ae2c;}
	body#s7.p1 div#topBanner{background-image:url(images/bkg_blackboard.jpg);height:300px;border-bottom:0px solid #90ae2c;}

	body#s5 div#topBanner{background-image:url(images/banner_contact.jpg);height:800px;border-bottom:0px solid #90ae2c;}
	body#s5.l1 div#topBanner{background-image:url(images/banner_contact1.jpg);height:800px;border-bottom:0px solid #90ae2c;}
		body#s5 div#topBanner a{color:inherit;text-decoration:none;}
	body#s3 div#topBanner, body#s6 div#topBanner, body#s7 div#topBanner, body#s8 div#topBanner{background-image:url(images/banner_blackboard.jpg);height:330px;border-bottom:0px solid #90ae2c;}
	div#topBanner div.content{color:#fff;font:34px/42px 'Source Sans Pro', Arial;font-weight:300;}
		body#s5 div#topBanner div.content{color:#fff;font:24px/32px 'Source Sans Pro', Arial;font-weight:300;}
		body#s5 div#topBanner div.floatLeft{padding-right:40px;}
		body.l1 div#topBanner div.content{font:28px/37px 'Source Sans Pro', Arial;font-weight:300;}
	div#topBanner h1{font:86px/86px chalk, Arial;margin:30px 0px 20px 0px;color:#ffffff;}
		body#s3 div#topBanner h1, body#s6 div#topBanner h1, body#s7 div#topBanner h1, body#s8 div#topBanner h1{margin:30px 0px 20px 0px;}
		body#s6 div#topBanner a, body#s7 div#topBanner a, body#s8 div#topBanner a{color:#fff;text-decoration:none;}
		body#s9.l1 div#topBanner h1{font:79px/86px chalk, Arial;}
		body#s6.l1 div#topBanner h1, body#s7.l1 div#topBanner h1{font:65px/86px chalk, Arial;}
	div#topBanner a.HL{font-weight:bold;}

div#searchBox{position:fixed;top:89px;left:0px;background-color:rgba(171,201,65,0.9);z-index:190;width:100%;height:152px;transition:400ms ease-in-out;-webkit-transition:400ms ease-in-out;-moz-transition:400ms ease-in-out;-webkit-backface-visibility:hidden;}
	div#searchBox.hidden{top:-63px;}
form#searchForm{width:1040px;height:100%;margin-left:auto;margin-right:auto;display:block;white-space:nowrap;font-size:0;}
div.formBox{display:inline-block;vertical-align:top;height:100%;}
	div#findJob{width:528px;font:36px/38px 'Source Sans Pro', Arial;font-weight:400;color:#fff;}
	div#findUs{width:242px;border-left:4px solid #4b4b4b;border-right:4px solid #4b4b4b;padding-left:20px;padding-right:20px;}
	div#findStaff{padding-left:20px;border-left:4px solid #4b4b4b;padding-left:20px;font: 36px/38px 'Source Sans Pro', Arial;font-weight:400;color:#fff;}
	div.formBox h2{font:36px/38px 'Source Sans Pro', Arial;font-weight:400;color:#fff;margin:30px 0px 5px 0px;text-align:center;margin-right:64px;}
	div.formBox select{font:18px 'Source Sans Pro', Arial;font-weight:400;color:#979797;height:43px;line-height:43px;padding-left:10px;padding-right:40px;vertical-align:middle;width:240px; -webkit-appearance:none;-moz-appearance:none;text-indent:0.01px;text-overflow:'';cursor:pointer;border:1px solid #979797;border-radius:0px;background-image:url(images/arrow_d.svg);background-size:36px 15px;background-repeat:no-repeat;background-position:right 17px;}
	div#findJob select{width:216px;}

div#logInBox{position:fixed;top:89px;right:100px;background-color:#abc941;border:0px solid #000;z-index:195;width:630px;height:93px;transition:400ms ease-in-out;-webkit-transition:400ms ease-in-out;-moz-transition:400ms ease-in-out;-webkit-backface-visibility:hidden;}
	div#logInBox.hidden{top:-6px;}
form#logInForm{padding:30px 20px;font-size:0px;}
	form#logInForm input[type="text"], form#logInForm input[type="password"]{font:18px 'Source Sans Pro', Arial;font-weight:400;height:34px;line-height:34px;padding:0px 10px;vertical-align:middle;width:240px;border:0px;background-color:#fff !important;margin-right:5px;margin-bottom:5px;}
	input#loginBtn{width:41px;height:30px;margin:0px 0px 0px 4px;display:inline-block;vertical-align:middle;}
	form#logInForm div.formBox{text-align:right;}
	a#forgot{font:15px 'Source Sans Pro', Arial;font-weight:300;color:#000;margin-right:10px;}

a.btnGreen{background-color:#90ae2c;display:inline-block;color:#ffffff;font:34px/34px 'Source Sans Pro', Arial;font-weight:300;padding:16px 30px 16px 30px;cursor:pointer;text-decoration:none;}
a.btnGreensm{background-color:#90ae2c;display:inline-block;color:#ffffff;font:18px/20px 'Source Sans Pro', Arial;font-weight:300;padding:10px 20px 10px 20px;cursor:pointer;text-decoration:none;}

div#home1{overflow:hidden;}

div#homeBkgCon{position:relative;text-align:center;background-image:url(images/bkg_blackboard.jpg);background-size:cover;background-repeat:no-repeat;font-size:0px;height:691px;overflow:hidden;}
div#homeSlide img{cursor:pointer;max-width:1050px;position:absolute;top:0px;left:50%;z-index:15;margin-left:-500px;}
div#homeSlide img.anim{transition: left 250ms ease-in-out;-webkit-transition:left 250ms ease-in-out;-moz-transition:left 250ms ease-in-out;-ms-transition:left 250ms ease-in-out;}
div#homeSlide img.left{left:-50%;}
div#homeSlide img.right{left:150%;}
div#homeSlide.hidden{display:none;}
div#homeSlide.shown{display:block;}

div#homeBkgCon4{position:relative;text-align:center;background-image:url(images/bkg_blackboard.jpg);background-size:cover;background-repeat:no-repeat;font-size:0px;padding-top:89px;height:610px;overflow:hidden;}

div#homeSlide.demo4 img{cursor:pointer;max-width:1050px;position:absolute;top:75px;left:50%;z-index:15;margin-left:-500px;}
div#homeSlide.demo4 img.anim{transition: left 250ms ease-in-out;-webkit-transition:left 250ms ease-in-out;-moz-transition:left 250ms ease-in-out;-ms-transition:left 250ms ease-in-out;}
div#homeSlide.demo4 img.left{left:-50%;}
div#homeSlide.demo4 img.right{left:150%;}
div#homeSlide.demo4.hidden{display:none;}
div#homeSlide.demo4.shown{display:block;}

div#vidCon{height:691px;position:absolute;top:0px;left:0px;z-index:20;}
div#vidCon.hidden{display:none;}
div#vidCon.shown{display:block;}

div.content{font:21px/27px 'Source Sans Pro', Arial;font-weight:300;margin-left:auto;margin-right:auto;}
	body > div.content{padding:30px 0px 40px 0px;}
div.homeBox{display:inline-block;vertical-align:top;position:relative;z-index:20;top:-34px;}
	div.homeBox h2{font:40px 'Source Sans Pro', Arial;font-weight:300;color:#90ae2c;margin:20px 0px 5px 0px;}
	div.homeBox select{font:20px 'Source Sans Pro', Arial;font-weight:300;padding:4px 20px 2px 10px;min-width:230px;-webkit-appearance:none;-moz-appearance:none;text-indent:0.01px;text-overflow:'';cursor:pointer;border:1px solid #979797;border-radius:0px;color:#979797;}
	div.homeBox img.circ{min-width:147px;min-height:147px;}
	div.homeBox img.searchGlass{position:absolute;bottom:3px;right:6px;cursor:pointer;}
	div.homeBox#hb2{margin:0px 45px;}

div.content2{font:21px/27px 'Source Sans Pro', Arial;font-weight:300;margin-left:auto;margin-right:auto;}
	body > div.content2{padding:0px 0px 40px 0px;}
div.content2 strong {font-weight: 600;}	

img.botArrow{display:inline-block;vertical-align:top;cursor:pointer;}
/* div#botSlideCon{position:relative;display:inline-block;vertical-align:top;width:690px;height:140px;overflow:hidden;} */
div#botSlideCon div.anim{transition: left 250ms ease-in-out;-webkit-transition:left 250ms ease-in-out;-moz-transition:left 250ms ease-in-out;-ms-transition:left 250ms ease-in-out;}
/* div#botSlideCon div{position:absolute;top:69px;left:0px;z-index:15;width:690px;height:52px;font:21px/24px 'Source Sans Pro', Arial;font-weight:300;} */
	div#botSlideCon h3{font:42px 'Source Sans Pro', Arial;font-weight:300;margin:15px 0px 0px 0px;}
/* div#botSlideCon div.left{left:-100%;}
div#botSlideCon div.right{left:150%;} */

div#home2{position:relative;background-color:#fff;text-align:center;z-index:150;padding:40px 0px 0px 0px;}
div#home2 div.content img.top{margin-top:-32px;margin-bottom:70px;}
div#home2 div.content img.bottom{margin-top:70px;margin-bottom:70px;}

form#homeForm{font:28px/29px 'Source Sans Pro', Arial;font-weight:300;padding-bottom:20px;}
	form#homeForm label{vertical-align:middle;margin:0px 20px 0px 0px;}
	form#homeForm select{font:18px 'Source Sans Pro', Arial;font-weight:400;color:#979797;height:43px;line-height:43px;padding-left:10px;padding-right:10px;vertical-align:middle;width:240px; -webkit-appearance:none;-moz-appearance:none;text-indent:0.01px;text-overflow:'';cursor:pointer;border:1px solid #979797;border-radius:0px;background-image:url(images/arrow_d.svg);background-size:36px 15px;background-repeat:no-repeat;background-position:right 17px;}

form#workForm{font:22px/24px 'Source Sans Pro', Arial;font-weight:400;padding:50px 0px;background-color:#dedede;text-align:center;}
	form#workForm label{display:block;font:50px/50px 'Source Sans Pro', Arial;font-weight:400;vertical-align:middle;margin:0px 20px 20px 0px;}
	form#workForm select{font:18px 'Source Sans Pro', Arial;font-weight:400;color:#979797;height:43px;line-height:43px;padding-left:10px;padding-right:40px;vertical-align:middle;width:240px; -webkit-appearance:none;-moz-appearance:none;text-indent:0.01px;text-overflow:'';cursor:pointer;border:1px solid #979797;border-radius:0px;background-image:url(images/arrow_d.svg);background-size:36px 15px;background-repeat:no-repeat;background-position:right 17px;}


div.collapseBox{position:relative;z-index:20;min-height:288px;}
	div.collapseBox div.tab{position:absolute;top:0px;left:50%;margin-left:-232px;width:464px;text-align:center;cursor:pointer;}
		div.collapseBox div.tab h2{font:50px/50px 'Source Sans Pro', Arial;font-weight:400;margin:20px 0px 5px 0px;text-transform:uppercase;color:inherit;}
		div.collapseBox.noclick div.tab{cursor:default;}
	div.expand{display:inline-block;}
	div.close{display:none;}

div.collapseBox > div.content{transition:400ms ease-in-out;-webkit-transition:400ms ease-in-out;-moz-transition:400ms ease-in-out;-webkit-backface-visibility:hidden;overflow:hidden;max-height:248px;-webkit-filter: blur(2px); /* Chrome, Safari, Opera */filter: blur(2px);padding:40px 0px 0px 0px;}
	div.collapseBox.open > div.content{max-height:9999px;-webkit-filter: blur(0px); /* Chrome, Safari, Opera */filter: blur(0px);padding:80px 0px 0px 0px;}
	div.collapseBox.open div.expand{display:none;}
	div.collapseBox.open div.close{display:inline-block;}

div#solutions, div#community {background-color:#fff;overflow:auto;}
div#careers{background-color:#e9e9e9;overflow:auto;padding-bottom:40px;}
div#team, div#testimonials, div#specialties{background-color:#e9e9e9;overflow:auto;}
div.content h2{font:50px/50px 'Source Sans Pro', Arial;font-weight:400;margin:40px 0px 25px 0px;text-transform:uppercase;color:inherit;text-align:center;}

div.member{position:relative;width:306px;height:378px;padding:0px 0px 0px 0px;display:inline-block;vertical-align:top;overflow:hidden;text-align:center;}
div.member h3{width:100%;text-align:center;height:88px;color:#000;margin:0px;font:30px/30px 'Source Sans Pro', Arial;font-weight:300;}
div.member div.desc{display:none;position:absolute;top:0px;left:0px;background-color:#90ae2c;width:100%;height:100%;z-index:20;color:#fff;font:22px/26px 'Source Sans Pro', Arial;font-weight:300;}
	div.member div.desc div.PAD{padding:20px;text-align:left;}
		div.member div.desc p{margin:0px 0px 10px 0px;}
		div.member div.desc li{padding-bottom:2px;font:16px 'Source Sans Pro', Arial;font-weight:300;}
	div.member:hover div.desc, div.specialty.HL div.desc{display:block;}
div.member.mid{margin:0px 40px 40px 40px;}
div.member div.imgCon{overflow:hidden;width:100%;height:306px;background-size:cover;background-repeat:no-repeat;background-position:center center;margin:0px 20px 20px 0px;float:left;}

div.posting div.postingInfo{transition:400ms ease-in-out;-webkit-transition:400ms ease-in-out;-moz-transition:400ms ease-in-out;-webkit-backface-visibility:hidden;overflow:hidden;max-height:0px;padding:0px 0px 0px 0px;}
div.posting.open div.postingInfo{transition:400ms ease-in-out;-webkit-transition:400ms ease-in-out;-moz-transition:400ms ease-in-out;-webkit-backface-visibility:hidden;overflow:hidden;max-height:3000px;padding:20px 0px 0px 0px;}
	div.posting div.expand{display:inline-block;font:15px/20px 'Source Sans Pro', Arial;font-weight:300;}
	div.posting div.close{display:none;font:15px/20px 'Source Sans Pro', Arial;font-weight:300;}
		div.posting.open div.expand{display:none;}
		div.posting.open div.close{display:inline-block;}
div.postBtn{cursor:pointer;}

div#testimonialsCon{text-align:center;font-size:0;padding-bottom:60px;}
div.testimonial{position:relative;padding:20px 20px 20px 20px;display:inline-block;vertical-align:middle;background-color:#fff;width:250px;height:250px;overflow:hidden;}
	body.l1 div.testimonial{height:285px;}
	div#testimonialsCon div.testimonial{margin-bottom:20px;}
div.testimonial div.logo{position:absolute;bottom:0px;left:0px;width:290px;}
div.testimonial div.logo img{max-width:250px;}
div.testimonial div.desc{font:18px/20px 'Source Sans Pro', Arial;font-weight:300;}
		div.testimonial div.desc p{margin:0px 0px 0px 0px;}
		div.testimonial.mid{border-left:24px solid #e9e9e9;border-right:24px solid #e9e9e9;}

div.bubblePoint{display:inline-block;text-align:left;background-repeat:no-repeat;background-position:top right;background-image:url(images/bubblePointLrg.svg);background-size:363px 49px;width:800px;height:80px;margin-bottom:60px;}
	div.bubblePoint img{vertical-align:text-top;width:440px;height:66px;margin-top:20px;}

body#s2.p2{background-color:#e9e9e9;}

div.quotee{font-weight:bold;padding:20px 0px 0px 0px;}

div#community{padding-bottom:60px;}
div.community{position:relative;padding:0px 0px 20px 0px;display:inline-block;vertical-align:top;width:322px;}
div.community div.logo{padding:0px 0px 20px 0px;}
div.community div.logo img{max-width:322px;}
div.community div.desc{font:20px/22px 'Source Sans Pro', Arial;font-weight:300;text-align:justify;margin-bottom:20px;}
		div.community div.desc p{margin:0px;display:inline;}
		div.community div.desc li{padding-bottom:2px;font:16px 'Source Sans Pro', Arial;font-weight:300;}
		div.community.mid{padding-left:30px;padding-right:30px;}

div.awards{width:980px;margin-left:auto;margin-right:auto;font-size:0;}
div.awardCon{display:inline-block;vertical-align:top;width:470px;margin-right:0px;margin-left:20px;}
	div.awardCon.first{margin-right:20px;margin-left:0px;}
	div.awardCon div.pic{}
	div.awardCon div.desc{text-align:left;font:22px 'Source Sans Pro', Arial;font-weight:300;padding:0px 0px 0px 0px;}
	div.awardCon div.desc h3{font:26px 'Source Sans Pro', Arial;font-weight:300;font-weight:bold;margin:0px 0px 10px 0px;}
	div.awardCon p{width:auto;}

div.collapseBox#specialties > div.content{width:100%;}
div#specialties > h3{color:#000;margin:0px;font:28px/30px 'Source Sans Pro', Arial;font-weight:400;}
div.specialty{position:relative;width:306px;height:418px;padding:0px 0px 0px 0px;display:inline-block;vertical-align:top;overflow:hidden;text-align:center;}
div.specialty h3{position:absolute;bottom:0px;width:100%;text-align:center;height:88px;z-index:50;color:#000;margin:0px;font:30px/30px 'Source Sans Pro', Arial;font-weight:400;}
	body.l1 div.specialty h3{height:77px;}
div.specialty a {color:#fff;}
	div.specialty:hover h3, div.specialty.HL h3{color:#fff;}
div.specialty div.desc{display:none;position:absolute;top:0px;left:0px;background-color:rgba(0,0,0,0.75);width:100%;height:100%;z-index:20;color:#fff;font:20px/24px 'Source Sans Pro', Arial;font-weight:300;}
	div.specialty div.desc div.PAD{padding:20px;text-align:left;}
		div.specialty div.desc p{margin:0px 0px 10px 0px;}
		div.specialty div.desc li{padding-bottom:2px;font:16px 'Source Sans Pro', Arial;font-weight:300;}
		div.specialty div.desc div.ital {font:14px/18px 'Source Sans Pro', Arial;font-weight:300; font-style:italic;}
	div.specialty:hover div.desc, div.specialty.HL div.desc{display:block;}
div.specialty.mid{margin:0px 40px 40px 40px;}

div.solutionB{position:relative;width:308px;height:389px;padding:0px 0px 0px 0px;display:inline-block;vertical-align:top;overflow:hidden;text-align:center;}
	body.l1 div.solutionB{height:400px;}
div.solutionB h3{position:absolute;bottom:0px;width:100%;text-align:center;height:88px;z-index:50;color:#000;margin:0px;font:30px/30px 'Source Sans Pro', Arial;font-weight:400;display:table;}
	body.l1 div.solutionB h3{height:108px;}
	div.solutionB h3 span{display:table-cell;vertical-align:middle;}
	div.solutionB:hover h3, div.solutionB.HL h3{color:#fff;}
	div.solutionB img{margin-top:20px;}
div.solutionB div.desc{display:none;position:absolute;top:0px;left:0px;background-color:rgba(0,0,0,0.75);width:100%;height:100%;z-index:20;color:#fff;font:20px/24px 'Source Sans Pro', Arial;font-weight:300;}
	div.solutionB div.desc div.PAD{padding:20px;text-align:left;}
		div.solutionB div.desc p{margin:0px 0px 10px 0px;}
		div.solutionB div.desc li{padding-bottom:2px;font:16px 'Source Sans Pro', Arial;font-weight:300;}
	div.solutionB:hover div.desc, div.solutionB.HL div.desc{display:block;}
div.solutionB.mid{margin:0px 40px 40px 40px;}

div.collapseBox#solutions > div.content{width:100%;}
div.solution{transition:400ms ease-in-out;-webkit-transition:400ms ease-in-out;-moz-transition:400ms ease-in-out;-webkit-backface-visibility:hidden;overflow:hidden;max-height:68px;border-top:3px solid #dedede;text-align:center;padding:20px 0px 10px 0px;}
	div.solution.first{border-top:0px;}
div.solution.open{transition:400ms ease-in-out;-webkit-transition:400ms ease-in-out;-moz-transition:400ms ease-in-out;-webkit-backface-visibility:hidden;overflow:hidden;max-height:3000px;}
	div.collapseBox.open div.solution div.expand{display:inline-block;}
	div.collapseBox.open div.solution div.close{display:none;}
		div.collapseBox.open div.solution.open div.expand{display:none;}
		div.collapseBox.open div.solution.open div.close{display:inline-block;}
div.solution div.desc{padding:20px 0px 0px 0px;text-align:left;width:980px;display:inline-block;}
div.solutionBtn{cursor:pointer;}

div.work {padding-bottom: 40px;}
img#click {vertical-align: baseline; width: 99px; height: 22px}
img#watch {vertical-align: text-top; width: 231px; height: 22px}
body.l1 img#watch {vertical-align: text-top; width: 340px; height: 33px}

img.comClick{vertical-align: baseline; width:240px;height:26px}
img.comClick2{vertical-align: baseline; width:310px;height:34px}
img#recruiter {vertical-align:text-top;width:800px;height:41px}

form#workForm a{color:#000;font-size: 22px; font-weight: 400}

div.work h2{font:50px/50px 'Source Sans Pro', Arial;font-weight:400;text-align:center;margin:40px 0px 20px 0px;}
div.work div.formCell{display:inline-block;vertical-align:top;margin:0px 20px 20px 0px;}
div.work div.formCell select{font:27px 'Source Sans Pro', Arial;font-weight:300;color:#979797;padding:2px 50px 2px 10px;min-width:230px;-webkit-appearance:none;-moz-appearance:none;text-indent:0.01px;text-overflow:'';cursor:pointer;border:1px solid #979797;border-radius:0px;height:48px;background-image:url(images/arrow_d.png);background-repeat:no-repeat;background-position:right 17px;}
div.work div.formCell label{cursor:pointer;padding:9px 10px 0px 3px;display:inline-block;font:27px 'Source Sans Pro', Arial;font-weight:300;text-transform:uppercase;}
div.work input[type="submit"]{vertical-align:middle;}
	div.work input[type="submit"]:hover{background-color:#fff;color:#979797;}
form#resultsForm{margin-top:30px;}
form#resultsForm fieldset{display:inline-block;padding:10px;margin-right:10px;vertical-align:top;}
form#resultsForm input[type="submit"]{margin-top:13px;vertical-align:top;}

div#jobDesc p{font-size:inherit !important;font-family:inherit !important;}
div#jobDesc span{font-size:inherit !important;font-family:inherit !important;}

div#jobResults{display:table;margin-bottom:60px;}
	div.listing{display:table-row;}
	div.listing:hover{opacity:0.7}
		div.listing.head{font-weight:bold;}
			div.listing.head:hover{opacity:1}
		div.listing.offRow{background-color:#f0f0f0;}
	div.item{display:table-cell;padding:5px 30px 5px 5px;font-size:18px;}
    div#jobResults div.item a.btnGreensm{margin:5px;color:#fff;}
	div#jobResults div.item a{text-decoration:underline;color:inherit;}
		div#jobResults div.item a.btnGreensm{text-decoration:none;}
	
a.sendFriend{float:right;}
	a.sendFriend img{width:221px;height:68px;}

div#toolKit{background-color:#dedede;z-index:30;overflow:auto;}
div#tools{text-align: center;}
	div#toolKit div.tab{background-color:#dedede;z-index:35;width:550px;margin-left:-275px;}
div.tool{position:relative;width:306px;padding:20px 0px 0px 0px;display:inline-block;vertical-align:top;overflow:hidden;text-align:center;cursor:pointer;}
div.tool a{text-decoration:none;}
div.tool a span{display:block;width:100%;text-align:center;height:88px;z-index:50;color:#000;margin:20px 0px 0px 0px;font:30px/30px 'Source Sans Pro', Arial;font-weight:400;}


div#documents{padding-bottom:40px;}
	div#documents div.content{width:750px;}
div#docList{display:table;margin-bottom:20px;}
	div#docList h3{margin:20px 0px 10px 0px;font:24px/26px 'Source Sans Pro', Arial;font-weight:600;}
	div#docList p{font:21px/26px 'Source Sans Pro', Arial;font-weight:300;}
	div#docList div.item{max-width:430px;padding-bottom:30px;vertical-align:top;}
	div#docList div.item img{box-shadow:3px 3px 20px -2px #111;margin-right:20px;}

a.docLink{background-color:#90ae2c;display:inline-block;color:#ffffff;font:18px/20px 'Source Sans Pro', Arial;font-weight:300;padding:10px 20px 10px 20px;cursor:pointer;text-decoration:none;}

div#links{padding-bottom:40px;background-color:#e9e9e9;overflow:auto;}
	div#links div.content{width:750px;}
	a.impLink{display:block;margin:0px 0px 20px 0px;font:24px/26px 'Source Sans Pro', Arial;font-weight:600;text-align:center;color:#000;text-decoration:none;}
	
div#articles{padding-bottom:40px;}
	div#articles div.content{width:750px;}
	div#articles a{color:#000;}

form#regForm{}
	form#regForm img{display:inline-block;vertical-align:top;margin:14px 40px 10px 0px;}
	form#regForm fieldset{display:inline-block;vertical-align:top;width:450px;min-height:452px;}
	form#regForm input#agree{float:left;margin:7px 10px 20px 0px;}

form#staffForm{}
	form#staffForm div.warning{font:21px/27px 'Source Sans Pro', Arial;font-weight:300;}
	form#staffForm fieldset{border:0px;font-size:0;}
	form#staffForm label{display:inline-block;vertical-align:top;margin:6px 0px 10px 0px;width:250px;font:21px/27px 'Source Sans Pro', Arial;font-weight:300;}
	form#staffForm select{display:inline-block;vertical-align:top;margin:0px 0px 10px 0px;width:500px;}
	form#staffForm input[type="text"]{display:inline-block;vertical-align:top;margin:0px 0px 10px 0px;width:478px;}
	form#staffForm textarea{display:inline-block;vertical-align:top;margin:0px 0px 10px 0px;width:494px;}
	form#staffForm input[type="submit"]{margin:0px 0px 10px 250px;}
	form#staffForm legend{font:21px/27px 'Source Sans Pro', Arial;font-weight:600;}
	form#staffForm legend p{font:21px/27px 'Source Sans Pro', Arial;font-weight:300;}

	form#staffForm div.thanks{font:21px/27px 'Source Sans Pro', Arial;font-weight:300;}


form#timeSheetForm{}
	form#timeSheetForm img{display:inline-block;vertical-align:top;margin:0px 40px 10px 0px;}
	form#timeSheetForm div.right{display:inline-block;vertical-align:top;width:500px;}
	form#timeSheetForm div.right h2{text-align:left;margin:4px 0px 20px 0px;}
	form#timeSheetForm input#sin{width:272px;}
	form#timeSheetForm select{width:294px;vertical-align:top;padding-right: 36px;}
	form#timeSheetForm input#submitBtn{vertical-align:top; padding: 10px 10px 10px 10px;}

div#faq{}
	div#faq img{float:left; vertical-align:top;margin:0px 40px 10px 0px;}
	div#faq div.right{display:inline;vertical-align:top;width:500px;}
	div#faq div.right h2{text-align:left;margin:4px 0px 20px 0px;}


#contactForm h2{display:inline-block;vertical-align:middle;margin:0px 30px 0px 0px;font:80px 'Source Sans Pro', Arial;font-weight:300;}
select#contactCat{font:20px 'Source Sans Pro', Arial;font-weight:300;color:#979797;padding:2px 50px 2px 10px;min-width:380px;-webkit-appearance:none;-moz-appearance:none;text-indent:0.01px;text-overflow:'';cursor:pointer;border:1px solid #979797;border-radius:0px;height:48px;background-image:url(images/arrow_d.png);background-repeat:no-repeat;background-position:right 17px;}

div.contact{position:relative;width:308px;height:390px;padding:0px 0px 0px 0px;display:inline-block;vertical-align:top;overflow:hidden;text-align:center;cursor:pointer;}
div.contact h3{position:absolute;top:25px;left:25px;width:100%;text-align:left;z-index:50;color:#000;margin:0px;font:26px/28px 'Source Sans Pro', Arial;font-weight:300;}
	div.contact h3.small{font:22px/28px 'Source Sans Pro', Arial;font-weight:300;}
	div.contact#contact10 h3{font:26px/28px 'Source Sans Pro', Arial;font-weight:300;}
	div.contact h3 strong{display:block;font:32px/32px 'Source Sans Pro', Arial;font-weight:600;}
	div.contact:hover h3, div.contact.HL h3{color:#fff;}
div.contact > img{margin-top:99px;}
div.contact div.desc{display:none;position:absolute;top:0px;left:0px;background-color:#90ae2c;width:100%;height:100%;z-index:20;color:#fff;font:23px/27px 'Source Sans Pro', Arial;font-weight:300;}
	div.contact div.desc div.PAD{padding:130px 25px 20px 25px;text-align:left;}
		div.contact div.desc p{margin:0px 0px 10px 0px;}
		div.contact div.desc li{padding-bottom:2px;font:16px 'Source Sans Pro', Arial;font-weight:400;}
	div.contact a.email{display:none;position:absolute;top:25px;right:25px;z-index:51;width:56px;height:58px;}
	div.contact:hover div.desc, div.contact.HL div.desc, div.contact:hover a.email, div.contact.HL a.email{display:block;}
	div.contact a{text-decoration:none;color:inherit;}

div.contact.mid{margin:0px 40px 40px 40px;}


div.terms > div.content{padding-bottom:40px;}
div.terms > div.content h2 span{display:block;font:22px/29px 'Source Sans Pro', Arial;font-weight:600;}

input[type="text"], input[type="password"]{font:18px 'Source Sans Pro', Arial;font-weight:400;height:34px;line-height:34px;padding:0px 10px;vertical-align:middle;width:240px;border:1px solid #9a9a9a;background-color:#fff !important;margin-right:5px;margin-bottom:10px;}
input[type="submit"]{border:1px solid #90ae2c;background-color:#90ae2c;display:inline-block;color:#ffffff;font:18px/21px 'Source Sans Pro', Arial;font-weight:300;padding:10px 20px 10px 20px;cursor:pointer;margin-top:0px;}
input[type="checkbox"]{cursor:pointer;}
select{font:18px 'Source Sans Pro', Arial;font-weight:400;color:#979797;height:43px;line-height:43px;padding-left:10px;padding-right:10px;vertical-align:middle;width:262px; -webkit-appearance:none;-moz-appearance:none;text-indent:0.01px;text-overflow:'';cursor:pointer;border:1px solid #979797;border-radius:0px;background-image:url(images/arrow_d.svg);background-size:36px 15px;background-repeat:no-repeat;background-position:right 17px;}
select::-ms-expand {
    display: none;
}
input[type="text"].inputsmall, textarea.inputsmall {font:10px/12px 'Source Sans Pro', Arial;font-weight:300;height:auto;padding:0px 10px 0px 10px;}
.smallForm{font:10px/12px 'Source Sans Pro', Arial;font-weight:300;}

div.miceType{font-size:14px;}

div.floatRight{float:right;padding:0px 0px 0px 20px;}
div.floatLeft{float:left;padding-right:10px;}
div.table{display:table;border:0px;border-collapse:collapse;}
div.tableRow{display:table-row;}
div.tableCell{display:table-cell;padding-bottom:10px;}
div.tableCell.first{padding-right:30px;}

div.threeCols, p.threeCols{-webkit-column-count:3;-moz-column-count:3;column-count:3;column-gap:40px;-webkit-column-gap: 40px;-moz-column-gap: 40px;display:table-cell;padding-bottom:20px;white-space:nowrap;}
div.threeCols p{display:inline-block;text-align:justify;}

img.centered{display:block;margin-left:auto;margin-right:auto;margin-top:20px;margin-bottom:20px;}

h1{font:62px 'Source Sans Pro', Arial;font-weight:300;color:#313131;margin:0px 0px 10px 0px;text-transform:uppercase;}
	h1 span{display:inline-block;vertical-align:bottom;font:24px 'Source Sans Pro', Arial;font-weight:300;padding:0px 0px 15px 10px;}

img#skyLine{display:block;margin-left:auto;margin-right:auto;}

div#footer{position:absolute;bottom:0px;z-index:90;width:100%;height:145px;min-width:1140px;background-color:#303030;background-image:url(images/footer_chalkboard.png);background-size:cover;background-repeat:no-repeat;}
	div#footer div.content{text-align:center;padding-top:20px;font:24px 'Source Sans Pro', Arial;font-weight:300;color:#fff;}
	/*@media (max-width:1330px) {
		div#footer div.content{text-align:left;}
	}*/
	div#footer div.right{position:absolute;top:54px;right:30px}
	div#footer a{color:#fff;padding:10px;text-decoration:none;}
	div#footer div#social a{padding:0px 2px 0px 2px;}
div#footerSpace{height:145px;}

body#s1.admin .calendar{margin-top:680px;}

div.warning, div#ADMINwarning{color:#ff0000;padding:0px 0px 5px 0px;}
.warn{color:#ff0000;}
input[type="text"].warn,select.warn,textarea.warn{color:#ff0000 !important;border:1px solid #ff0000 !important;}
.warn::-webkit-input-placeholder { /* WebKit */
    color:    red;
}
.warn::-moz-placeholder { /*Firefox */
   color:   red;
}
.warn:-ms-input-placeholder { /* IE */
   color:    red;
}


.loadFade{opacity:0;}
.blankImg{opacity:0;}
@keyframes FadeIn { 0% { opacity:0; } 100% { opacity:1; } }
@-webkit-keyframes FadeIn { 0% { opacity:0; } 100% { opacity:1; } }
@-moz-keyframes FadeIn { 0% { opacity:0; } 100% { opacity:1; } }
@-ms-keyframes FadeIn { 0% { opacity:0; } 100% { opacity:1; } }
.fadeItIn { -webkit-animation-name: FadeIn; -webkit-animation-timing-function: ease-in; -webkit-animation-duration: 500ms;
-moz-animation-name: FadeIn; -moz-animation-timing-function: ease-in; -moz-animation-duration: 500ms;
-ms-animation-name: FadeIn; -ms-animation-timing-function: ease-in; -ms-animation-duration: 500ms;
animation-name: FadeIn; animation-timing-function: ease-in; animation-duration: 500ms; }

@keyframes FadeOut { 0% { opacity:1; } 100% { opacity:0; } }
@-webkit-keyframes FadeOut { 0% { opacity:1; } 100% { opacity:0; } }
@-moz-keyframes FadeOut { 0% { opacity:1; } 100% { opacity:0; } }
@-ms-keyframes FadeOut { 0% { opacity:1; } 100% { opacity:0; } }
.fadeItOut { opacity:0; -webkit-animation-name: FadeOut; -webkit-animation-timing-function: ease-out; -webkit-animation-duration: 1s;
-moz-animation-name: FadeOut; -moz-animation-timing-function: ease-out; -moz-animation-duration: 1s;
-ms-animation-name: FadeOut; -ms-animation-timing-function: ease-out; -ms-animation-duration: 1s;
animation-name: FadeOut; animation-timing-function: ease-out; animation-duration: 1s; }

@keyframes scrollIn1 {
	0% { opacity:0;transform: translate(0px,30px) scale(.5,.5);}
	100% { opacity:1;transform: translate(0px,0px) scale(1,1);}
}
@-webkit-keyframes scrollIn1 {
	0% { opacity:0;-webkit-transform: translate(0px,30px) scale(.5,.5);}
	100% { opacity:1;-webkit-transform: translate(0px,0px) scale(1,1);}
}
@-moz-keyframes scrollIn1 {
	0% { opacity:0;-moz-transform: translate(0px,30px) scale(.5,.5); }
	100% { opacity:1;-moz-transform: translate(0px,0px) scale(1,1); }
}
@-ms-keyframes scrollIn1 {
	0% { opacity:0;-ms-transform: translate(0px,30px) scale(.5,.5); }
	100% { opacity:1;-ms-transform: translate(0px,0px) scale(1,1); }
}
.scrlIn1 { -webkit-animation-name: scrollIn1; -webkit-animation-timing-function: ease-out; -webkit-animation-duration: 500ms;
-moz-animation-name: scrollIn1; -moz-animation-timing-function: ease-out; -moz-animation-duration: 500ms;
-ms-animation-name: scrollIn1; -ms-animation-timing-function: ease-out; -ms-animation-duration: 500ms;
animation-name: scrollIn1; animation-timing-function: ease-out; animation-duration: 500ms; }

/* Navbar */

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {

	font-weight:300;

}

.navbar-light .navbar-nav .nav-link {
	font-weight:300;


}

.navbar-expand-lg .navbar-nav .nav-link {
	font-weight: 300;
}

.navbar-nav .nav-link {
	font-weight: 300;
}

.navbar-nav {
	font-weight: 300;
}